* {
  padding: 0px;
  margin: 0px;
}
.bebas-neue-regular {
  font-family: "Bebas Neue", sans-serif;
  font-weight: 400;
  font-style: normal;
}
.spinnaker-regular {
  font-family: "Spinnaker", sans-serif;
  font-weight: 400;
  font-style: normal;
}

html {
  height: 100%;
  width: 100%;
  background-color: black;
  background-image: url("images/solarr.jpg");
  background-size: cover;
}
.flexx {
  color: rgb(255, 255, 255);
  background-color: #2E294E; 
  padding: 1px 32px;
  align-items: center;
  display: flex;
  justify-content: space-between;
  position: sticky;
  top:0;
} 


  #xd {
    height: auto;
    } 
  #idk {
    color: white;
    font-size: 30px;
    }

body{
  justify-content: center;
  align-items: center
}
h2 a {
  text-decoration: none;
  color: white;
}

h2 a:hover {
  color: #BE97C6;
}

h1{
  font-size: 70px;
  margin-top: 200px;
  margin-bottom: 20px;
  text-align: center;
  color: white
}

button{
  border-radius: 10px;
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 20px;
  background-color:#BE97C6;
  padding:10px;
  border:0px;
}
button:hover{
  color:white;
  background-color: black;
}
nav {
  text-align: center;
  color: white
}

.white {
  color: black;
  background-color:white;
  padding: 30px;
  margin-top: 170px;
  text-align: left;
}

.black {
  text-align: right;
  color: white;
  background-color:black;
  padding: 30px;
  margin-top: 50px;
}

.white2 {
  color: black;
  background-color:white;
  padding: 30px;
  margin-top: 50px;
  text-align: left;
}


