* {
  padding: 0px;
  margin: 0px;
}
.bebas-neue-regular {
  font-family: "Bebas Neue", sans-serif;
  font-weight: 400;
  font-style: normal;
}
.spinnaker-regular {
  font-family: "Spinnaker", sans-serif;
  font-weight: 400;
  font-style: normal;
}

html {
  height: 100vh;
  width: 100%;
  background-color: black;
  background-size: cover;
  margin: 0;
  overflow: hidden;
}

  #xd {
    height: auto;
    } 
  #idk {
    color: white;
    font-size: 30px;
    }
h2 {
    padding: 16px;
    align-items: center;
    position: fixed; 
    display: flex;
    justify-content: space-between;
    position: sticky;
    top:0;
}

h2 a {
  text-decoration: none;
  color: white;
}
h2 a:hover {
  color: #BE97C6;
}

body {
  height: 100vh;
  margin: 0;
  background-color: none;
  font-family: "Spinnaker", sans-serif;
  overflow: hidden;
}

body::before{
    content: ""; 
    position: fixed;
    inset: 0;
    background: url("../images/cabin.png") top center / cover no-repeat;
    filter: brightness(30%);
    z-index: -1;
} 

.flexx {
    box-sizing: border-box;
    position: fixed;      
    height: 80px;   
    right: 0;
    top: 0;
    left: 0;
    width: 100%;              
    background-color: #2E294E;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 32px;
    z-index: 1000;          
}

h1{
    font-size: 3rem;
    color: white;
    margin-bottom: 5rem;
    text-shadow: -2px -2px 30px #000000;
}

.container {
    width: 100vh;
    height: 115vh;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 100rem;
    margin: auto;
    padding: 0rem;
}

body {
    color: white;
}

.choice-container{
    display:flex;
    margin-bottom:1rem;
    background: rgb(65, 8, 65);
    font-size: 1rem;
    min-width: 60rem;
    box-shadow: 0 0.2rem 0.6rem rgba(0, 0, 0, 0.2);
    background: rgba(46, 41, 78, .55);
    border: 1px solid rgba(255,255,255,.15);
    border-radius: 20px;
    padding: 1px 30px;
    line-height: 0.1;
    justify-content: center; 
    transform: translateX(10px);
}

.choice-container:hover{
    cursor: pointer;
    box-shadow: 0 0.4rem 1.4rem rgba(0, 0, 0, 0.2);
    transform: scale(1.02);
    transform: transform 100ms;
}

.choice-prefix{
    padding:2rem 2.5rem;
    color: white;
}

.choice-text{
    padding:2rem;
    width:100%
}

.correct{
    background:linear-gradient(32deg, rgba(11, 223, 36) 0%, rgb(41,232,111) 100%);
}

.incorrect
{
    background:linear-gradient(32deg, rgba(223,11,11) 0%, rgb(232,41,41) 100%);
}

#hud{
    display:flex;
    justify-content: space-between;
}

.hud{
    text-align: center;
    font-size: 1rem;
}

.hud-main-text{
    text-align: center;
}

#progressBar{
    width:20rem;
    height: 3rem;
    border:0.2rem solid rgb(22, 124, 116);
    margin-top: 2rem;
    border-radius: 50px;
    overflow: hidden;
}

#progressBarFull{
    height:100%;
    background: linear-gradient(90deg, rgb(34, 196, 187) 0%, rgb(41,232,111) 100%);
    width:0%;
    transition: width 0.5s ease-in-out;
}

@media screen and (max-width: 768px){

    .choice-container{
    
        min-width: 40rem;
    }
}