* {
  padding: 0px;
  margin: 0px;
}
.bebas-neue-regular {
  font-family: "Bebas Neue", sans-serif;
  font-weight: 400;
  font-style: normal;
}
.spinnaker-regular {
  font-family: "Spinnaker", sans-serif;
  font-weight: 400;
  font-style: normal;
}

html {
  height: 100vh;
  width: 100%;
  background-color: black;
  background-size: cover;
  margin: 0;
  overflow: hidden;
}

  #xd {
    height: auto;
    } 
  #idk {
    color: white;
    font-size: 30px;
    }
h2 {
    padding: 16px;
    align-items: center;
    position: fixed; 
    display: flex;
    justify-content: space-between;
    position: sticky;
    top:0;
}

h2 a {
  text-decoration: none;
  color: white;
}
h2 a:hover {
  color: #BE97C6;
}

body {
  height: 100vh;
  margin: 0;
  background-color: none;
  font-family: "Spinnaker", sans-serif;
  overflow: hidden;
}

body::before{
    content: ""; 
    position: fixed;
    inset: 0;
    background: url("../images/cabin.png") top center / cover no-repeat;
    filter: brightness(30%);
    z-index: -1;
} 

.flexx {
    box-sizing: border-box;
    position: fixed;      
    height: 80px;   
    right: 0;
    top: 0;
    left: 0;
    width: 100%;              
    background-color: #2E294E;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 32px;
    z-index: 1000;          
}

h1{
    font-size: 3rem;
    color: white;
    margin-bottom: 5rem;
    text-shadow: -2px -2px 30px #000000;

}

.container {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 80rem;
    margin: 0 auto;
    padding: 2rem;
}
.flex-column{
    display: flex;
    flex-direction: column;
}

.flex-center {
    justify-content: center;
    align-items: center;
}

.justify-center {
    justify-content: center;
}

.text-center {
    text-align: center;
}

.hidden{
    display: none;
}

.btn{
    font-size: 1.2rem;
    padding:1.5rem;
    width:15rem;
    text-align:center;
    margin-bottom: 1rem;
    text-decoration: none;
    color: rgb(255, 255, 255);
    text-shadow: 2px 2px 10px #000000;
    background: linear-gradient(90deg, #2E294E 0%, rgb(143, 43, 43)100%);
}

.btn:hover{
    cursor: pointer;
    box-shadow:0 0.4rem 1.4rem rgb(60, 21, 21);
    transition: transform 150ms;
    transform: scale(1.03)
}

.btn[disabled]:hover{
    cursor: not-allowed;
    box-shadow: none;
    transform: none;
}

#highscore-btn{
    background: linear-gradient(90deg, #2E294E 0%, rgb(143, 43, 43)100%);

}

#highscore-btn:hover{
    box-shadow:0 0.4rem 1.4rem rgb(23, 11, 11);
}


